<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @user.errors.any? %>
      <p>以下の記述が正しくありません。</p>
        <%= @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
        <% end %>
      <% end %>