<div class="container">
<h3 class="text-center">aようこそ！My_nailsへ！！</h3>

 <div id="container">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
      </div>
 </div>
</div>
