<div class="container text-center">
    <h3>投稿内容編集</h3>
    
    <%= form_with model: @nail, url: nail_path(@nail.id), method: :patch, local:true do |f| %>
    <div class="row">
      <div class="col space">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col space">
        <%= f.text_area :introduction,size: "50x5", placeholder: "ネイルの感想　お気に入りポイント" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col space">
        <%= f.submit '編集を保存', class: "btn btn-sm btn-success" %>
      </div>
    </div>
    <% end %>
</div>