// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "skippr";

.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image3.jpg");
}
.image3 {
  background-image: image-url("image4.jpg");
}
.image4 {
  background-image: image-url("image5.jpg");
}
.image5 {
  background-image: image-url("image6.jpg");
}


#container{
  padding: 50px;
  height: 500px;
}

.last-message{
  color:#ff00ff;
}

li{
  padding-right:20px;
}